
mysql-connector-net-8.4.0.msi


/Users/Jackson/Documents/db/bancodedados/CALLCENTER_TB_ATENDENTE.sql
/Users/Jackson/Documents/db/bancodedados/CALLCENTER_routines.sql
/Users/Jackson/Documents/db/bancodedados/CALLCENTER_TB_ATENDENTE.sql
/Users/Jackson/Documents/db/bancodedados/CALLCENTER_TB_CANALATENDIMENTO.sql
/Users/Jackson/Documents/db/bancodedados/CALLCENTER_TB_CANALATENDIMENTO.sql
/Users/Jackson/Documents/db/bancodedados/CALLCENTER_TB_CLIENTE.sql
/Users/Jackson/Documents/db/bancodedados/CALLCENTER_TB_DEPARTAMENTO.sql
/Users/Jackson/Documents/db/bancodedados/CALLCENTER_TB_MOTIVO_ATENDIMENTO.sql
/Users/Jackson/Documents/db/bancodedados/CALLCENTER_TB_PRODUTO.sql